/*
    Mobile Styling
/*
    Mobile Styling
 */

.label {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.line-graph-container {
  width: 95vw;
  margin: 0 auto;

  .line-graph-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;

    .line-graph-svg-container {

      .line-graph-svg {
        width: 350px;
        height: 450px;
      }
    }

    .legend {
      text-align: left;
      align-self: center;
      padding: 5px;
      border: 2px solid black;
      border-radius: 10px;
      margin-bottom: 15px;
    }
  }
}

/*
    Tablet Styling
 */
@media (min-width: 768px) {

  .line-graph-container {

  }
}


/*
    Desktop Styling
 */
@media (min-width: 1024px) {

  .line-graph-container {
    width: 85vw;

  }
}
